.Main {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  position: relative;
  margin-top: 70px;
}

.Main a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.Logo {
  width: 130px;
  max-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.Logo img {
  max-width: 100%;
  cursor: pointer;
}
