.Navbar {
  width: 100vw;
  height: 70px;
  background: #fff;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px;
  box-shadow: 1px 1px 4px rgb(34, 34, 34);
  top: 0;
}
