.nav-bar {
  background: green;
  height: 70px;
  position: fixed;
  width: 100vw;
  top: 0;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.links a {
  background: chartreuse;
  padding: 4px 6px;
  margin: 0 5px;
  font-family: sans-serif;
  font-weight: 600;
  color: chocolate;
  width: 90px;
  font-size: 14px;
  border-radius: 10px;
}

.links a:hover {
  color: #fff;
  background: rgb(147, 241, 53);
}
