* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: 2px;
}

html::-webkit-scrollbar {
  width: 2px;
}

.full-page {
  height: calc(100vh - 65px);
  width: 100vw;
  padding: 15px;
}

.home {
  background-color: pink;
}
.about {
  background-color: purple;
}

.products {
  background-color: rebeccapurple;
}

.activities {
  background-color: red;
}
